:root {
  --color-black: black;
  --color-white: white;
  --color-green: #09A70F;
  --color-red: #ca1a1a;
  --color-red2: #fa2020;
  --color-dark-gray: darkgray;

  --theme-color-primary: var(--color-white);
  --theme-color-secondary: var(--color-black);
  --theme-color-success: var(--color-green);
  --theme-color-danger: var(--color-red);
  --theme-color-gray: var(--color-dark-gray);
}

html,
body,
body > div:first-child,
#__next,
div#__next > div {
  min-height: 100% !important;
}

body {
  background-image: url('https://images3.alphacoders.com/105/thumb-1920-1052583.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: grayscale(0.8) blur(10px);
  height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
