html,
body,
body > div:first-child,
#__next,
div#__next > div {
  min-height: 100% !important;
}

body {
  background-image: url('https://media.istockphoto.com/photos/white-triangle-tiles-seamless-pattern-3d-rendering-background-picture-id927107554?b=1&k=20&m=927107554&s=170667a&w=0&h=-ZVMm1Vc7dx57Hf8J8kMhW5yMBzFr6n7gWDLrPtgm-g=');
  background-position: center;
  background-repeat: repeat;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
