.pageWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    padding-top: 10%;
    padding-bottom: 10%;
    
    width: 100%;
    height: 100%;
}

.container {
    width: 80%;
    max-width: 330px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: blanchedalmond;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.inputs {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.inputs__row {

}

.inputs__row__title {
    font-size: 12px;
    color: darkgray;
}

.inputs__row__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.inputs__row__actions input[type='number'] {
    width: 50px;
    margin-left: 10px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputs__row__actions input[type=number]::-webkit-inner-spin-button, 
.inputs__row__actions input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.inputs__row__actions span {
    position: absolute;
    right: 10px;
    bottom: -13px;
    font-size: 10px;
    color: rgb(172, 56, 56);
    user-select: none;
    cursor: pointer;
}