.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding-top: 10%;
    
    width: 100%;
    height: 100%;
}

.actionButton {
    background-color: var(--theme-color-primary);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.actionButton_themeChanger {
    margin-bottom: 20px;
}

.actionButton_link {
    margin-top: 20px;
}

.actionButton span,
.actionButton a {
    color: var(--theme-color-secondary);
    font-size: 12px;
}

.container {
    width: 80%;
    max-width: 330px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--theme-color-primary);
    border-radius: 10px;
}

@media (max-width: 450px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.inputs {
    border: 1px solid var(--theme-color-secondary);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 20px;
}

.inputs__row {

}

.inputs__row__title {
    font-size: 12px;
    color: var(--theme-color-gray);
}

.inputs__row__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.inputs__row__actions input[type='number'] {
    width: 50px;
    margin-left: 10px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputs__row__actions input[type=number]::-webkit-inner-spin-button, 
.inputs__row__actions input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.inputs__row__actions span {
    position: absolute;
    right: 10px;
    bottom: -13px;
    font-size: 10px;
    color: var(--theme-color-danger);
    user-select: none;
    cursor: pointer;
}

.calculateThirdSide {
    cursor: pointer;
    user-select: none;
    color: var(--theme-color-secondary);
}