.triangleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid var(--theme-color-secondary);
}

.isRectangleText {
    color: var(--theme-color-secondary);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
