.triangleContainer {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid black;
}
